language: node_js

sudo: false

node_js:
  - '0.10'
  - '0.11'
  - '0.12'
  - 'iojs'

before_install:
  - "mkdir -p ~/.npm"

install:
  - npm install
  - npm install git://github.com/hybridgroup/cylon.git
  - npm install -g jshint istanbul codeclimate-test-reporter

script:
  - make ci
  - CODECLIMATE_REPO_TOKEN=6b7b8f2f41a7cedceb5361aaf54dcce5bda2dff2366f82c433fc18007375c8c1 codeclimate-test-reporter < coverage/lcov.info
